{% extends "base_layout.html" %}
{% block content %}
<div class="">
    {% comment %} <p id="TAVO">TAVO</p> {% endcomment %}
    <div class="bg-gray-700 h-120 w-200 border-1 rounded-xl">
        <h1 class="bg-gray-700 h-120 w-200 border-1 rounded-xl">Signup</h1>
        <form class="form ml-5 mt-5 " action="/accounts/signup/" method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit" class="mt-5 border-1 bg-gray-600 text-white w-22 h-8 rounded-sm border-black">Sign up</button>
        </form>
    </div>
</div>
{% endblock content%}