<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
	<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-950 text-center">
	<h1 class="text-white text-xl">{{header}}</h1>
	<p class="text-white text-xl">Director: {{director.name}}</p>
	<p class="text-white text-xl">Address: {{address.0}}, {{address.1}}, {{address.2}}, {{address.3}}</p>
	<p class="text-white text-xl">Staff: {{staff.0}}, {{staff.1}}, {{staff.2}}</p>

	<a class="text-purple-400 underline text-4xl mt-15" href="/">На ГЛАВНУЮ</a> 
</body>
</html>
